:root {
  /* --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #529ad9;
  --color-primary-light: #d4ebff;
  --color-primary-dark: #35648c;
  --color-secondary: #d96d68;
  --color-accent: #f3c172;
  --color-disabled: #e5e5e5;
  --color-text-header: #4f4f4f;
  --color-text-body: #4f4f4f;
  --color-text-input: #1f2937;
  --color-text-alternate: #526f75;
  --color-text-contrast: #ffffff;
  --color-text-disabled: #e5e5e5;
  --color-success: #68c486;
  --color-error: #d93d59;
  --color-error-dark: #753731;
  --color-alert: #f3c172;
  --color-background: #ffffff;
  --color-button: #529ad9;
  --color-button-hover: #35648c;
  --color-button-secondary: #ffffff;
  --color-button-secondary-hover: #e5e7eb;
  --color-link: #529ad9;
  --color-link-hover: #35648c; */
}
